.navbar {
    font-weight: bold;
    padding: 32px 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-dashboard {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    text-decoration: none;

}

.nav-dashboard {
    width: 81px;
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: -2%;
    color: #27374D;
    text-decoration: none;

}

.nav-logout {
    width: 53px;
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: -2%;
    color: #A01D2D;
    text-decoration: none;

}

.admin-logo
{
    width:97px;
    height: 40px;
    gap:9px;
}
.navbar button{
    font-size: 16px;
}