*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'EB Garamond', serif;
    font-family: 'IBM Plex Sans', sans-serif;
}

.main{
    /* background-color: aqua; */
    width: 100%;
    height: 100vh;
    padding: 1%;
}
.container{
    /* background-color: antiquewhite; */
    width: 100%;
    height: 100%;
    padding: 2% 7%;
}
.contents{
    /* background-color: azure; */
    width: 100%;
    height: 100%;
}
.navBar{
    position: absolute;
    right: 8%;
    top: 6%;
    font-size: 30px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.heading h1{
    font-size: 20px;
}
.heading1{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}.heading1 span{
    font-size: 39px;
}
.path{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elements{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot{
    width: 13px;
    height: 13px;
    margin-right: 5px;
}
.line {
    margin-left: 5px;
    border-top: 1px solid #000; /* Adjust the color and size as desired */
    width: 100px;
}
.subheading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.subheading span{
    font-size: 14px;
    color: #939BA6;
}
.box{
    margin-top: 20px;
    width: 100%;
    height: 70%;
    display: flex;
}
.col1{
    flex: 6;
    padding: 1% 4%;
}
.col2{
    flex: 6;
    padding: 1% 4%;
}
.col-container{
    width: 100%;
    height: 100%;
    background-color: #939BA6;
}

.filename{
    display: hidden;
}