.main-container{
    background-color: #F5F5F9;
}
.container
{
    display:flex;
    width: fit-content;
    margin: 24px auto 64px 5vw;
    padding: 40px 40px;
    background-color: #FFFFFF;
}

.container .pdf-display
{
    width:563px;
    height: 525px;
    background-color: #EEEEEE;
}

.container .add-details
{
   
}

.container .add-details .heading
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
    align-items: flex-start;
}

.heading-title
{
    font-style: bold;
    font-weight: 600;
    font-size: 37px;
    line-height: 44.78px;
    color:black;
}

.heading-subheading
{

    font-weight:400;
    font-size: 16px;
    line-height: 19.36px;
    color:#909295;

}
.container .add-details .details
{

}

.container .add-details .details form
{
    align-items: left;
    text-align: left;
}

.container .add-details .details label
{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #909295;
    margin-bottom:8px!important;
    display:inline-block;

    
}

.container .add-details .details input
{
    height: 48px;
    width: 60%;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    padding-left: 12PX;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    color: #1F2227;
    justify-content: center;
    margin-bottom: 16px;
    display: inline-block;
    


}
::placeholder
{
    color: #1F2227;
}

.container .add-details .details button
{
    width: 100%;
    height:56px;
    border-radius: 100px;
    padding:8px 32px 8px 32px;
    background-color:#4C50B5;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    color:#FFFFFF;
    cursor: pointer;
    border-style: none;
    margin-top: 40px;
    font-family: 'Inter'sans-serif;
} 
.container .add-details .details .form-textfield{
    margin-bottom: 40px;
}
.drag-label{
    font-size: 16px;
    font-weight: 500;
    color: #7073CA;
    ;
}
.drag-and-drop{
    stroke-dasharray: 50% 30%; 
}
