
<!-- <h2>Upload Successful!</h2>
<p>Your PDF file has been successfully uploaded.</p>
<p>{{file}}</p> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summarisation</title>
    <!-- <link rel="stylesheet" href="success.css"> -->
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&family=IBM+Plex+Sans:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="navBar"><i class="fa-solid fa-bars"></i></div>          
            <div class="contents">
                <div class="heading"><h1>Add new book to Library</h1></div>
                <div class="path">
                    <div class="elements">
                        <img src="{% static 'Group1.svg' %}" alt="" class="dot">
                        
                        <p>Upload</p>
                        <div class="line"></div>
                    </div>
                    <div class="elements">
                        <img src="{% static 'Group1.svg' %}" alt="" class="dot">
                        <p>Page-selection</p>
                        <div class="line"></div>
                    </div>
                    <div class="elements">
                        <img src="{% static 'Group2.svg' %}" alt="" class="dot">
                        <p>Summarize</p>
                        <div class="line"></div>
                    </div>
                    <div class="elements">
                        <img src="{% static 'Group2.svg' %}" alt="" class="dot">
                        <p>Publish</p>
                        
                    </div>
                </div>
                <p id="filename"></p>
                <div class="heading1"><span>Select main pages to summarize</span></div>
                <div class="subheading"><span>Select the page that you want it to be summarized</span></div>
                <div class="box">
                    <div class="col1">
                        <div class="col-container" id="pdfviewer">
                            <object
                                data="{{ file }}"

                                type="application/pdf"
                                width="600"
                                height="430"
                                <!-- id="pdfviewer-object"  -->
                                > 
                                
                                <p>{{file}}</p>
                                <iframe
                                src="{{ file }}"
                                width="900"
                                height="400"
                                <!-- id="pdf/viewer-iframe" -->
                                >
                                <p>This browser does not support PDF!</p>
                            </iframe>
                        </object>
                        <!-- <embed src="../CST362-A_7SGnHtn.pdf" type="application/pdf" width="100%" height="600px" /> -->
                        </div>
                    </div>
                    <div class="col2">
                        <div class="col-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>