{% comment %} <h2>Upload a PDF file</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form> {% endcomment %}
{% comment %} 
{% load static %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pdf uploader</title>
    {% comment %} <link rel="stylesheet" href="upload.css"> {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&family=IBM+Plex+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    
    <link rel="stylesheet" type="text/css" href="{% static '/css/upload.css' %}">
</head>
<body>
    <div class="main" id="main">
        <div class="container">
            <div class="menubar">
                <i class="fa-solid fa-bars"></i>
            </div>
            
            <div class="box">
                <div class="heading">
                    <h1>Add new book to Library</h1>
                </div>
                <div class="content">
                    <h3>Upload your PDF</h3>
                </div>
                <div class="drag">
                    <div class="dottedBox">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% comment %} {{ form.as_p }} {% endcomment %}
                           
                            {% comment %} <p>Drag a file or <span class="choose"><input type="file" placeholder="hhhh" name="pdf" ></span> from desktop</p> {% endcomment %}
                            {% comment %} <input type="file" name="pdf" id="file" class="inputfile" /> {% endcomment %}
                            <label for="file-upload" class="custom-file-upload">
                                Drag a file or
                            </label>
                            <input type="file" name="pdf" id="file" class="inputfile" />
                            <p>from desktop</p>

                            <button class="btn" id="btn">
                                <i class="fa-sharp fa-solid fa-arrow-up-from-bracket"></i>
                                <span>Upload</span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="text">
                    <p>Or</p>
                    <p>Paste external link to your PDF</p>  
                </div>
                {% comment %} <div class="shade"></div> {% endcomment %}
                <input class="linkUpload" type="text" name="link" id="link" placeholder="Paste link here">
                
            </div>
        </div>         
        
    </div>
    {% comment %} <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" id="btn">
            <i class="fa-sharp fa-solid fa-arrow-up-from-bracket"></i>
            <span>Upload</span>
        </button>
    </form> {% endcomment %}
    <div class="popup" id="popup">
        <div class="loader">
            <div class="popup-box"></div>
            <p class="popup-text">Uploading PDF</p>
        </div>
        
    </div>
    <script src="{% static 'js/upload.js' %}"></script>
</body>
</html>